<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Hotel ms</title>
    </style>
</head>

<body>
  <nav>
    <div>
      <p>HOTEL MANAGEMENT</p>
    </div>
      <li><a href="#firstsection">Home</a></li>
      <li><a href="#secondsection">Rooms</a></li>
      <li><a href="#thirdsection">Facilites</a></li>
      <li><a href="#contactus">contact us</a></li>
       <div class="logout">
        <a href="login"><button class="btn btn-primary">Logout</button></a>
        </div>
  </nav>
  {% block content%}
  {% endblock %}
</body>
</html>