<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .Room-container{
        border-color: brown;
        height: 400px;
        width:400px;
        border-radius: 6px;
    }
</style>
<body>
    <div>
        <h1> Available Rooms For Booking</h1>
    </div>
    <div class="Room-container">
        <img src="../static/images/food.jpg" alt="Image Not Found">
        <label for=""></label>
    </div>
    
</body>
</html>